header, footer {
    background-color: var(--color-panel);
}

header a, footer a {
    color: var(--color-gold);
}

header a:hover, footer a:hover {
    color: var(--color-red)
}

header nav, footer nav {
    display: flex;
    gap: 7px;
    justify-content: space-between;
}

.header-links{
    align-items: center;
    display: flex;
    gap: 7px;
}

.footer-links{
    display: flex;
    gap: 7px;
    align-items: center;
}



@media (max-width: 654px) {
    header nav, footer nav {
        flex-wrap: wrap;
        gap: 4px;

    }
}